<mat-card>
	<mat-card-title>
		<h1>Modifier mon abonnement</h1>
	</mat-card-title>
	<mat-card-content>
		<div>
			<mat-card>
				<mat-card-title>
					<h2>Starter</h2>
					<h3>9.99€/mois</h3>
					<p>ou</p>
					<h3>113€/an</h3>
				</mat-card-title>
				<mat-card-content>
					<mat-list>
						<mat-list-item>Suppression des pubs</mat-list-item>
						<mat-list-item>Commentez et publiez des avis</mat-list-item>
						<mat-list-item>Accès à 5 leçons</mat-list-item>
						<mat-list-item>Service de chat avec un chef</mat-list-item>
						<mat-list-item>Livraison offerte en point relais</mat-list-item>
						<mat-list-item>Invitation à des événements exclusifs</mat-list-item>
						<mat-list-item>5€ en chèque cadeau tous les 3 utilisateurs cooptés</mat-list-item>
					</mat-list>
					<button mat-flat-button>Souscrire à l'abonnement Starter</button>
				</mat-card-content>
			</mat-card>
		</div>
		<div>
			<button mat-flat-button color="primary">Modifier</button>
			<button mat-flat-button>Annuler</button>
		</div>
		</mat-card-content>
</mat-card>

<ng-template #master>
	<mat-card>
		<mat-card-title>
			<h2>Master</h2>
			<h3>19€/mois</h3>
			<p>ou</p>
			<h3>220€/an</h3>
		</mat-card-title>
		<mat-card-content>
			<mat-list>
				<mat-list-item>Tout les avantages de la version Starter</mat-list-item>
				<mat-list-item>Accès aux leçons illimité</mat-list-item>
				<mat-list-item>Une réduction de 5% sur la boutique</mat-list-item>
				<mat-list-item>Livraison offerte (peu importe le mode de livraison)</mat-list-item>
				<mat-list-item>Accès à la location de plan de travail</mat-list-item>
				<mat-list-item>5€ en chèque cadeau pour chaque utilisateur coopté + 3% du montant de la première commande de celui-ci</mat-list-item>
				<mat-list-item>Réduction de 10% du montant de l'abonnement en cas de renouvellement annuel</mat-list-item>
			</mat-list>
			<button mat-flat-button>Souscrire à l'abonnement Master</button>
		</mat-card-content>
	</mat-card>
</ng-template>